<!-- left_nav-small_screens -->

<head>
    <link href='https://fonts.googleapis.com/css?family=Balsamiq Sans' rel='stylesheet'>
</head>
<nav class="hidden sm:block bg-white h-screen w-80 border-gray-400 rounded">
    <div class=" mt-3 flex flex-col justify-center bg-white w-80 border-gray-400 rounded shadow-md px-12">
        <center><span style="font-family:'Balsamiq Sans' ;font-size: 24px;font-weight: 300;background: linear-gradient(to right,rgb(255, 145, 0), rgb(204, 68, 147),rgb(150, 6, 90),rgb(31, 1, 163));-webkit-background-clip: text;background-clip:transparent;
                -webkit-text-fill-color: transparent;"><b>eXlyǵenze</b></span><BR>
            <div style="font-size: 7px;font-weight:500px;letter-spacing: 1px;transform: translate(0,-5px);">POTENTIAL
                MADE POSSIBLE</div>
        </center>

        <div class="elements pt-2 mt-2 mb-28 flex flex-col justify-center">
            <a href="{{ url_for('home') }}"
                class="rounded-full flex flex-nowrap py-3 pl-6 w-60 hover:border-0 hover:bg-gray-100 hover:no-underline">
                {% if heading == 'Dashboard' %}
                <img src="{{url_for('static',filename='icons/dashboard-active.png')}}" />
                {% else %}
                <img src="{{url_for('static',filename='icons/dashboard.png')}}" />
                {% endif %}
                <p class="pl-4 hover:no-underline">Dashboard</p>
            </a>
            <!-- tasks -->
            <a href="{{ url_for('custom') }}"
                class="rounded-full flex flex-nowrap py-3 w-60 pl-6 hover:border-0 hover:bg-gray-100 hover:no-underline"
                style="cursor:pointer;">
                {% if heading == "customtrigger" %}
                <img src="{{url_for('static',filename='icons/tasks-active.png')}}" />
                {% else %}
                <img src="{{url_for('static',filename='icons/tasks.png')}}" />
                {% endif %}
                <p class="pl-4 no-underline">Custom Triggers</p>
            </a>
            <a href="{{ url_for('conditional_triggers') }}"
                class="rounded-full flex flex-nowrap py-3 w-60 pl-6 hover:border-0 hover:bg-gray-100 hover:no-underline">
                {% if heading == 'conditionaltrigger' %}
                <img src="{{url_for('static',filename='icons/tasks-active.png')}}" />
                {% else %}
                <img src="{{url_for('static',filename='icons/tasks.png')}}" />
                {% endif %}
                <p class="pl-3 no-underline">Conditional Triggers</p>
            </a>


            <a href="{{ url_for('notification_history') }}"
                class="rounded-full flex flex-nowrap py-3 w-60 pl-5 hover:border-0 hover:bg-gray-100 hover:no-underline">
                {% if heading == 'notificationhistory' %}
                <img src="{{url_for('static',filename='icons/profile-active.png')}}" />
                {% else %}
                <img src="{{url_for('static',filename='icons/profile.png')}}" />
                {% endif %}
                <p class="pl-4 no-underline">Notification History</p>
            </a>


            <!-- profile -->
            <a href="{{ url_for('data') }}"
                class="rounded-full flex flex-nowrap py-3 w-60 pl-5 hover:border-0 hover:bg-gray-100 mb-3 hover:no-underline"
                style="cursor:pointer;">
                {% if heading == "data" %}
                <img src="{{url_for('static',filename='icons/submission-active.png')}}" />
                {% else %}
                <img src="{{url_for('static',filename='icons/submission.png')}}" />
                {% endif %}
                <p class="pl-4 no-underline">Upload Data</p>
            </a>
            <!-- <a href="{{ url_for('usertable') }}"
                class="rounded-full flex flex-nowrap py-4 w-60 pl-6 hover:border-0 hover:bg-gray-100 mb-3 hover:no-underline"
                style="cursor:pointer;">
                {% if heading == "usertable" %}
                <img src="{{url_for('static',filename='icons/submission-active.png')}}" />
                {% else %}
                <img src="{{url_for('static',filename='icons/submission.png')}}" />
                {% endif %}
                <p class="pl-4 no-underline">Users Table</p>
            </a> -->
            <hr>

            <hr class="border bg-gray-200" />
            <a href="{{ url_for('documentation') }}"
                class="rounded-full flex flex-nowrap py-3 w-60 pl-6 hover:border-0 hover:bg-gray-100 hover:no-underline mt-3">
                {% if heading == 'documentation' %}
                <img src="{{url_for('static',filename='icons/contactus-active.png')}}" />
                {% else %}
                <img src="{{url_for('static',filename='icons/contactus.png')}}" />
                {% endif %}
                <p class="pl-3 no-underline">Documentation</p>
            </a>
            <a href="{{ url_for('logout') }}"
                class="side rounded-full flex flex-nowrap py-3 pl-6 w-60 hover:border-0 hover:bg-gray-100 hover:no-underline">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M2.8531 15.7972C2.44895 15.3425 2.44895 14.6574 2.8531 14.2027L9.51976 6.7027C9.96006 6.20736 10.7186 6.16275 11.2139 6.60305C11.7092 7.04335 11.7538 7.80183 11.3135 8.29717L6.4222 13.7999L21.25 13.7999C21.9127 13.7999 22.45 14.3372 22.45 14.9999C22.45 15.6627 21.9127 16.1999 21.25 16.1999L6.4222 16.1999L11.3135 21.7027C11.7538 22.198 11.7092 22.9565 11.2139 23.3968C10.7186 23.8371 9.96006 23.7925 9.51976 23.2972L2.8531 15.7972Z"
                        fill="#C2CFE0" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M20.05 27.5C20.05 26.8372 20.5872 26.3 21.25 26.3L25.05 26.3L25.05 3.69995L21.25 3.69995C20.5872 3.69995 20.05 3.16269 20.05 2.49995C20.05 1.83721 20.5872 1.29995 21.25 1.29995L26.25 1.29995C26.9127 1.29995 27.45 1.83721 27.45 2.49995L27.45 27.5C27.45 28.1627 26.9127 28.7 26.25 28.7L21.25 28.7C20.5872 28.7 20.05 28.1627 20.05 27.5Z"
                        fill="#C2CFE0" />
                </svg>
                <p class="pl-4 no-underline">Logout</p>
            </a>

        </div>
    </div>
</nav>